<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>


<style>
    .gist-file .gist-data {
        max-height: 300px;
    }

    .gist-file .gist-data tr {
        border-top: none !important;
    }
    
    body, h1, h2, h3, h4, h5, h6 {
        font-family: 'Spoqa Han Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        line-height: 180%;
    }
    @media (min-width: 723px) {
        html {
            zoom: 1.1;
        }
    }
</style>

